@import "./variables";

/* What is displayed on the main page */
.main-content {
  padding: $padding-content1;
  // display: flex;
}

/* <Link> and <a> resets */
.decolor-link {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.color-green {
  color: $color-green2;
}

.bold {
  font-weight: 400;
}

/* Green links with underline */
.color-green-hover {
  color: $color-black1;
  &:hover {
    text-decoration: underline;
    color: $color-dark-green1;
    cursor: pointer;
  }
}

.placeholder {
  visibility: hidden;
}

@media only screen and (min-width: 1000px) {
  .main-content {
    width: 75%;
    margin: 0 auto;
  }
}
