/* Low numbers are lighter colors */
/* High numbers are darker colors */

$padding-content1: 30px; // moves inner content in

$color-green: #169d74; // hover submit buttons
$color-green2: #009E74;
$color-green3: #037362; // $ pledged
$color-green4: #107560; // $ project submit button
$color-green-fade1: rgba(0,158,116,0.9); // reward item hover

$color-dark-green1: #0f7262; // hover nav links, progressBar color
$color-dark-green3: #084751; // title

$color-grey1: #F0F0F0; // very light
$color-grey2: rgba(241,238,234,0.2); // faded
$color-grey3: #DCDEDD; // middle, project-list-item border
$color-grey4: #9B9E9E; // category text
$color-grey5: #9B9E9E; // placeholder text
$color-grey6: #e8e8e8; // progressBar trail color
$color-grey7: #f8f9fd; // add reward hover bg color
$color-grey8: #999999; // category dropdown arrow color

$color-tan1: #FBFBFA; // backing index header bg color

$color-black1: #282828; // main black text
$color-black2: #656969; // hover black text on category items

$color-blue1: #2752ff; // project create button
$color-blue2: #0c3ae7; // project create button hover
$color-dark-blue: #3b5998; // facebook blue
$color-link-blue: #2c59fb; // link blue

$color-navy-light: #80809E; // project input color
$color-navy: #656969; // project show short blurb
