/* Low numbers are lighter colors */
/* High numbers are darker colors */

$color-green: #169d74; // hover submit buttons

$color-dark-green1: #0f7262; // hover nav links
$color-dark-green2: #0f7262;
$color-dark-green3: #084751; // title


$color-grey1: #F0F0F0; // very light
$color-grey2: rgba(241,238,234,0.2); // faded
$color-grey3: #DCDEDD; // middle
$color-grey4: #969696; // placeholder text


$color-dark-blue: #3b5998; // facebook blue
$color-link-blue: #2c59fb; // link blue
