@import "./util/variables";

/* Category Index (only for names) */
.category-index {
  display: flex;
  width: 98%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 12px;
  border-bottom: 1px solid $color-grey3;
  li {
    margin-right: 10px;
    padding: 10px 10px 8px 0;
    font-size: 15px;
    color: $color-grey5;
    &:hover {
      color: $color-black2;
    }
    /* Active category link */
    .active {
      color: $color-black1;
      &:hover {
        color: $color-black2;
      }
    }
  }
}




/* Category Show (for featured project) */
.main-category-projects {
  display: flex;
  margin-top: 55px;
}

.empty-category-projects {
  padding-left: 12px;
}


.featured-project-container {
  padding: 12px;
  flex: 1;
}

.featured-header {
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 11px;
}

.featured-project {
  color: $color-black1;
  &:hover {
    color: $color-green;
    text-decoration: underline;
  }
  .featured-img {
    object-fit: cover;
    width: 400px;
    height: 400px;
  }
  .featured-info-container {
    font-size: 13px;
    .featured-title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .featured-author {
      text-transform: uppercase;
      font-weight: 600;
    }
    .featured-percent {
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 24px;
    }
  }
}


.preview-project-list {
  flex-direction: column;
  padding: 12px;
  flex: 2;
  h2 {
    padding-bottom: 11px;
    border-bottom: 1px solid $color-grey3;
  }
}

@media only screen and (min-width: 1500px) {
  .featured-project-container {
    flex: 3;
  }
  .preview-project-list {
    flex: 5;
  }
}

.view-all-button {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid $color-grey3;
  text-align: left;
  padding: 10px;
  width: 66px;
  &:hover {
    border-color: $color-black1;
    cursor: pointer;
  }
}

/* Category Show Item (for each preview project) */

.preview-project {
  display: flex;
  padding: 22px 0 20px 0;
  border-bottom: 1px solid $color-grey3;
  min-width: 400px;
}

.preview-img {
  object-fit: cover;
  width: 120px;
  height: 68px;
  margin-right: 30px;
}

.preview-info-container {
  line-height: 24px;
  .preview-title {
    font-size: 16px;
  }
  .preview-percent {
    color: $color-grey5;
    font-size: 14px;
  }
}
