@import "./util/variables";

.footer-container {
  font-size: 12px;
  border-top: 1.5px solid $color-black2;
  ul {
    display: flex;
  }
}

.footer-category-list {
  padding: $padding-content1;
  border-bottom: 2px solid $color-grey3;
  li {
    margin-right: 15px;
    font-size: 12px;
    &:hover {
      color: $color-dark-green1;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.copyright {
  padding: $padding-content1;
}

.portfolio-link-list {
  padding: 0 0 25px $padding-content1;
  li {
    margin-right: 18px;
    font-size: 20px;
  }
}
