@import "./util/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  font-size: 14px;
}

.nav-list {
  display: flex;
  * {
    padding: 0 8px;
    &:hover {
      color: $color-dark-green1;
      cursor: pointer;
    }
  }
}

// .nav-left {
//   li {
//   }
// }

.nav-center {
  font-family: 'Chicle', cursive;
  font-size: 24px;
  color: $color-dark-green3;
}

.nav-right {
  li {
    * {
      padding: 0 3px;
      &:focus {
        outline: 0;
      }
      &:visited {
        color: inherit;
      }
    }
  }
}
