@import "./util/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  font-size: 14px;
}

.nav-list {
  display: flex;
  li {
    padding: 0 8px;
    width: 100px;
    &:hover {
      color: $color-dark-green1;
      cursor: pointer;
    }
  }
  .search {
    text-align: right;
    &:hover {
      color: inherit;
      cursor: auto;
    }
  }
  .nav-outer-link {
    width: 54px;
    &:first-child {
      padding-right: 0;
    }
    &:last-child {
      padding-left: 0;
      text-align: right;
    }
  }
}

.nav-center {
  font-family: 'Chicle', cursive;
  font-size: 24px;
  color: $color-dark-green3;
}

.nav-right {
  li {
    * {
      // padding: 0 3px;
      &:focus {
        outline: 0;
      }
      &:visited {
        color: inherit;
      }
    }
  }
}

.session-button:hover {
  color: $color-dark-green1;
  cursor: pointer;
}
