@import "./util/variables";

.new-project-container {
  background-color: white;
  display: flex;
  background: url("https://www.hdwallpapers.in/walls/lg_g3_smoke_colors-wide.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  // -moz-box-shadow:    3px 3px 5px 6px #ccc;
  // box-shadow: 3px 3px 5px 6px #ccc;
}

.new-project-form {
  // border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 90px auto;
  background-color: white;
}

.new-project-header {
  font-size: 53px;
  color: $color-link-blue;
  font-weight: 500;
  margin-left: 60px;
  margin-bottom: 40px;
}

.input-list {
  li {
    display: flex;
    .list-number {
      font-size: 13px;
      margin-top: 5px;
      padding-right: 50px;
      font-weight: 700;
    }
  }
}

.input-container {
  color: $color-navy-light;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 17px;
  label {
    padding-bottom: 8px;
  }
  input, textarea {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $color-black1;
    font-size: 15px;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
    font-family: 'Muli', sans-serif;
    color: $color-navy-light;
    width: 375px;
    &:focus {
      border-bottom: 1px solid $color-green;
    }
  }
  .upload-image-container {
    width: 375px;
    height: 200px;
    // border: 1px dotted $color-navy-light;
    // border-radius: 10px;
    position: relative;
    display: flex;
    transition: all 0.25s ease-in-out;
    .upload-label {
      position: absolute;
      justify-content: center;
      align-self: center;
      width: 375px;
      text-align: center;
    }
    .upload-image {
      object-fit: contain;
      width: 375px;
      height: 200px;
      z-index: 2;
    }
    .upload-image-button {
      position: absolute;
      opacity: 0;
      left: 0;
      width: 375px;
      height: 200px;
      border: none;
      z-index: 3;
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      font-size: 20px;
      font-weight: 200;
      background-color: $color-green;
      color: white;
    }
  }
}

.pretext-input {
  display: flex;
  span {
    font-size: 16px;
    color: $color-black1;
  }
}

.category-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal;
  position: relative;
  font-size: 15px;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 120px center;
  background-position: right 10px top 50%;
  padding: 5px;
  width: 170px;
  &:focus {
    outline: none;
    border-color: $color-green;
  }
  &:hover {
    border-color: $color-link-blue;
  }
  option {
    color: $color-black1;
    &:first-child {
      color: $color-navy-light;
    }
  }
}

.project-submit-button {
  background-color: $color-green4;
  color: white;
  text-align: center;
  margin: 40px;
  margin-left: 60px;
  padding: 10px 30px 15px;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: $color-dark-green3;
    cursor: pointer;
  }
}
