@import "./util/variables";

.new-project-container {
  background-color: white;
  display: flex;
  // background-color: $color-grey1;
  background: url("http://www.hdwallpapers.in/walls/lg_g3_smoke_colors-wide.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: column;
}

.new-project-header {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  h1 {
    font-weight: 700;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto;
  }
}

.new-project-form {
  padding: 20px;
  margin: 20px auto;
  background-color: white;
}


.input-list {
  .new-project-item {
    display: flex;
    background-color: $color-grey7;
    padding: 10px;
    margin-bottom: 15px;
  }
}

.input-label {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 700;
  flex: 1;
}

.input-container {
  color: $color-navy-light;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  flex: 3;
  label {
    padding-bottom: 8px;
  }
  input, textarea, select {
    border: 1px solid white;
    outline: 0;
    letter-spacing: 0.5px;
    padding: 10px;
    background-color: white;
    &:focus {
      border-color: $color-black1;
    }
  }
  textarea {
    height: 100px;
  }
  .upload-image-container {
    width: 100%;
    height: 200px;
    max-width: 437px;
    position: relative;
    display: flex;
    transition: all 0.25s ease-in-out;
    background-color: white;
    border: 1px dashed $color-link-blue;
    border-radius: 5px;
    .upload-label {
      position: absolute;
      justify-content: center;
      align-self: center;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .upload-text1 {
        color: $color-link-blue;
        font-weight: 600;
      }
      .upload-text2 {
        font-size: 10px;
      }
    }
    .upload-image {
      width: 100%;
      height: 200px;
      z-index: 2;
    }
    .upload-image-button {
      position: absolute;
      opacity: 0;
      left: 0;
      width: 375px;
      height: 200px;
      border: none;
      z-index: 3;
      &:hover {
        cursor: pointer;
      }
    }
    &:hover {
      background-color: $color-grey7;
    }
  }
  .input-footer {
    font-size: 10px;
    color: $color-black1;
    margin-top: 10px;
    max-width: 500px;
  }
}

.category-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal;
  position: relative;
  background: url("http://s3.amazonaws.com/the-rubbing-lamp-pro/static/down-arrow.svg") no-repeat 120px center;
  background-position: right 10px top 50%;
  background-size: 20px 25px;
  padding: 5px;
  border-radius: 0;
  &:focus {
    outline: none;
    border-color: $color-black1;
  }
  option {
    color: $color-black1;
    &:first-child {
      color: $color-navy-light;
    }
  }
}

.project-errors {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.project-submit-button {
  background-color: $color-blue1;
  color: white;
  text-align: center;
  padding: 10px 30px 15px;
  transition: all 0.25s ease-in-out;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  &:hover {
    background-color: $color-blue2;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-text {
  color: $color-grey5;
  font-family: 'Muli', sans-serif;
}

/* Add reward */

.reward-box {
  background-color: $color-grey7;
  font-size: 12px;
  display: flex;
  padding: 8px;
  margin-bottom: 20px;
}

.reward-left {
  flex: 1;
  font-weight: 700;
}

.reward-right {
  flex: 3;
  background-color: white;
  .reward-box-item {
    border: 1px solid $color-grey3;
    border-bottom: none;
    display: flex;
    &:last-child {
      border-bottom: 1px solid $color-grey3;
    }
    label {
      display: flex;
      flex: 1;
      padding: 10px;
      border-right: 1px solid $color-grey3;
    }
    .reward-input-cont {
      padding-left: 5px;
      display: flex;
      flex: 3;
      .reward-span {
        display: flex;
        align-items: center;
      }
      input, textarea {
        border: none;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
    }
    textarea {
      height: 100px;
      padding-top: 6px;
    }
  }
}

.add-reward-button {
  border: 1px dashed $color-grey3;
  width: 100%;
  padding: 25px;
  font-size: 12px;
  &:hover {
    cursor: pointer;
    background-color: $color-grey7;
    color: $color-link-blue;
  }
  &:focus {
    outline: none;
  }
  .fa-plus {
    height: 10px;
    width: 10px;
    padding-right: 10px;
  }
}
