@import "./util/variables";

.project-show {
  // padding: 40px;
}

.p-show-top {
  display: flex;
  .p-show-author {
    font-size: 13px;
    margin-top: 4px;
    flex: 1;
    .author-img {
      border-radius: 50%;
      object-fit: contain;
      width: 40px;
      height: 40px;
    }
    .author-name {
      margin-top: 10px;
    }
  }
  .p-show-header {
    // margin-left: 10px;
    flex: 5;
    h1 {
      font-size: 30px;
    }
    p {
      margin-top: 15px;
      font-size: 16px;
      color: $color-navy;
    }
  }
  .p-show-update {
    flex: 1;
    align-self: center;
    white-space: nowrap;
    width: 100%;
  }
}

.p-show-middle {
  margin-top: 50px;
  display: flex;
  .p-show-middle-left {
    // padding-right: 30px;
    flex: 2;
    .p-show-img {
      object-fit: cover;
      max-height: 400px;
      min-width: 400px;
      // max-width: 500px;
      // height: 300px;
      width: 90%;
    }
    .p-show-category {
      margin-top: 10px;
      display: flex;
      align-items: center;
      color: $color-black1;
      // fix width
      // width: 60px;

      &:visited {
        color: $color-black1;
      }
      .fa-compass {
        padding-right: 11px;
      }
      .p-show-category-name {

      }
    }

  }

  .p-show-middle-right {
    margin-top: -14px;
    flex: 1;
    div {
      font-size: 20px;
    }
    p {
      font-size: 13px;
      color: $color-navy;
    }
    .p-show-funding {
      color: $color-green3;
    }
    .p-show-info-item {
      margin-top: 14px;
    }
    .backing-text {
      font-size: 12px;
      margin-top: 10px;
      color: $color-black1;
    }
  }
}

.backing-button, .update-button {
  margin-top: 30px;
  background-color: $color-green;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 0.4px;
  transition: all 0.25s ease-in-out;
  width: 100%;
  padding: 13px 0;
  &:hover {
    background-color: $color-dark-green3;
    cursor: pointer;
    transform: translateY(-1px);
  }
}

.update-button {
  padding: 13px 20px;
}

.p-show-bottom {
  display: flex;
  margin-top: 50px;
  h3 {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .about-container {
    flex: 2;
    padding-right: 30px;
    .about {
      line-height: 1.5;
    }
  }
  .support-container {
    flex: 1;
  }
}
